.header{
    background-image: linear-gradient(to right bottom,
     rgba($color-blue-light, 0.5),
     rgba($color-blue-dark, 1)), 
     url(../img/222.jpg),;
    background-size: cover;
    background-position-x: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%) ;
    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%) ;
    }
    
    height: 95vh;
    position: relative;
    &__logo--box{
        position: absolute;
        top: 1rem;  
        left: 1rem;
    }
    &__logo{
        height: 10rem;
        
    }
    &__text--box{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color :$color-white;
    }
}
